name: mediapipe_face_mesh
description: "mediapipe_face_mesh plugin"
version: 1.0.1
homepage: "https://github.com/cornpip/mediapipe_face_mesh.git"

environment:
  sdk: ^3.10.3
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.1.3
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  ffigen: ^13.0.0
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true

  assets:
    - assets/models/